.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    margin-inline-start: 35px;
    max-width: 1200px;
}

.remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: none;
    color: rgb(49, 48, 48);
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}


.remove-btn:hover {
    transform: scale(1.1);
}
