@use '../setup/mixins' as *;

.user-msg {
  @include user-msg(var(--bg-color));

  position: fixed;
  right: 1em;

  padding: 1.5em 2.5em;
  border-radius: 0 0 12px 12px;

  background-color: var(--bg-color);
  color: var(--text-color);

  font-size: 1.1em;

  &.success {
    background-color: var(--clr1);
    color: white;
  }
  
  &.error {
    background-color: var(--clr2);
    color: white;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;

    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: inherit;
    font-size: 1em;

    cursor: pointer;

    &:hover {
      background-color: var(--focus-bg);
    }
  }
}